<!DOCTYPE html>
<html>
<head>
  <title>Bike results app</title>
  <script src="assets/js/vendor/vue.js"></script>
  <link rel="stylesheet" type="text/css" href="assets/css/vendor/bulma.css">
  <link rel="stylesheet" type="text/css" href="assets/css/main.css">
</head>
<body>
  <div id="app" class="content">
    <header class="app-header">
      <h1>Bike search results</h1>
    </header>
    <section class="filters">
      <h2>Filters</h2>
      <div class="form">
        <div class="field">
          <h3>Wheel size</h3>
          <p class="control">
            <label class="radio">
              <input type="radio" class="filterRadioBtn" name="wheelSize" value="26in wheels" @change="addFilter">
              26in wheels
            </label>
            <label class="radio">
              <input type="radio" class="filterRadioBtn" name="wheelSize" value="650b wheels" @change="addFilter">
              650b wheels
            </label>
            <label class="radio">
              <input type="radio" class="filterRadioBtn" name="wheelSize" value="29in wheels" @change="addFilter">
              29in wheels
            </label>
          </p>
          <h3>Frame material</h3>
          <p class="control">
            <label class="radio">
              <input type="radio" class="filterRadioBtn" name="frameMaterial" value="Carbon frame" @change="addFilter">
              Carbon Frame
            </label>
            <label class="radio">
              <input type="radio" class="filterRadioBtn" name="frameMaterial" value="Aluminium frame" @change="addFilter">
              Aluminium Frame
            </label>
            <label class="radio">
              <input type="radio" class="filterRadioBtn" name="frameMaterial" value="Steel frame" @change="addFilter">
              Steel Frame
            </label>
          </p>
          <h3>Bike type</h3>
          <p class="control">
            <label class="radio">
              <input type="radio" class="filterRadioBtn" name="bikeType" value="All mountain" @change="addFilter">
              All Mountain
            </label>
            <label class="radio">
              <input type="radio" class="filterRadioBtn" name="bikeType" value="Downhill" @change="addFilter">
              Downhill
            </label>
            <label class="radio">
              <input type="radio" class="filterRadioBtn" name="bikeType" value="Hardtail" @change="addFilter">
              Hardtail
            </label>
          </p>
        </div>
      </div>
    <a class="button is-small reset-filters" @click="resetFilters">Reset all filters</a>
    </section>
    <section class="sort">
      <div class="field">
        <label class="label">Sort by:</label>
        <p class="control">
          <span class="select">
            <select v-model="sortByRating">
              <option selected value="null">No sorting</option>
              <option value="asc">Rating: ascending</option>
              <option value="desc">Rating: descending</option>
            </select>
          </span>
        </p>
      </div>
    </section>
    <section class="card" v-for="bike in filteredBikes">
      <div class="card-image">
        <figure class="image is-4by3">
          <img :src="'assets/img/bikes/' + bike.imageLink" width="100%" height="auto" alt="Image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">{{ bike.name }}</p>
          </div>
        </div>
        <div class="content">
          <p>{{ bike.description }}</p>
          <p><strong>Bike rating:</strong> <small>{{ bike.rating }}*</small></p>
          <p>
            <strong>Features:</strong>
            <small v-for="feature in bike.features">
                {{ feature }} |
            </small>
          </p>
        </div>
      </div>
    </section>
    <section class="no-results" v-if="!filteredBikes.length">
      <div class="notification is-danger">
        Sorry no results match your criteria. Try adjusting your filter selections or <a @click="resetFilters">reset the filters</a>.
      </div>
    </section>
  </div>
  <script src="assets/js/app.js"></script>
</body>
</html>
